doctype html
html
  head
    title= title
    meta(name="google-signin-client_id" content="845226368257-rpep5duu3iam6rpg7f9deutbdf5nv0n4.apps.googleusercontent.com")

  body
    form(method='POST' action='https://localhost:3000/register')
          div
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='username' name='username')
          div
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')

          button(type='submit') Sign up
    

    script(src='./facebook_auth.js')  
    script(async defer src="https://connect.facebook.net/en_US/sdk.js")
    